*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  /* font-size: 1rem; */
}

header{
  width: clamp(300px, 95%, 1200px);
  text-align: right;
  font-weight: 700;
  padding: 7px 0;
  text-transform: uppercase;
  position: fixed;
  z-index: 2;
}

header p.light{
  font-weight: 500;
  font-size: .85rem;
}

.about{
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  gap: 50px;
  letter-spacing: .5px;
  line-height: 1.3;
  padding: 100px 12px;
}

@keyframes drop {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fromRight {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fromLeft {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

h2{
  text-transform: uppercase;
  margin: 20px 0;
}

.about img{
  width: 350px;
  animation: fromLeft 2s cubic-bezier( 0.19, 0.81, 0.44, 0.99 );
}

.about div{
  animation: fromRight 2s cubic-bezier( 0.19, 0.81, 0.44, 0.99 );
  padding: 0 20px;

}

.about button{
  width: 30px;
  margin-top: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  animation: fromRight 2s cubic-bezier( 0.19, 0.81, 0.44, 0.99 )  ;
}

.about button span{
 font-size: 2.5rem;
}

@media (width < 768px) {
  .about{
    gap: 0;
  }
}

@media (width < 640px) {
  .about{
    position: relative;
    padding: 0;
    margin: 70px 20px;
  }

  .about img{
    width: 100%;
    margin: auto;
  }

  .about div{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .6);
    color: #eee;
  }
}

/* portfolio section */

.portfolio{
  width: clamp(300px, 90%, 1800px);
  aspect-ratio: 3/2;
  margin: 0 auto;
  position: relative;
}

.portfolio button{
  position: absolute;
  color: #555;
  top:50%;
  transition: transform 300ms;
  font-size: 3rem;
  background-color: transparent;
  border: none;
}

.portfolio button:hover{  
  color: #000;
  transform: scale(1.1);
}

.portfolio button.left{
  left: -50px;
}

.portfolio button.right{
  right: -50px;
}

.portfolio-header{
  text-align: center;
  max-width: 650px;
  margin:0 auto 60px;
}

.portfolio-tab{
  width: 100%;
  position: absolute;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  transform: scale(0);
}

/* it is selecting 2nd and 3rd .portfolio-tab */
.portfolio-tab:nth-of-type(3) .project,
.portfolio-tab:nth-of-type(4) .project{
  padding: 50px 10px;
}

.project{
  display: flex;
  align-items: center;
  padding: 10px;
}

.project .detail{
  padding: 10px;
}

.project .project-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project .detail .links{
  width: 70px;
}

.project .detail .links a{
  font-size: 1.5rem;
  color: #555;
  margin: 2px;
}

.project .detail .links a:hover{
  color: #000;
}

.project .detail .technology{
  margin: 20px 10px;
}

.project .detail .technology ul{
  margin: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.project.odinbook{
  grid-row: 1/3;
}

.project:is(.odinbook, .members-only, .restaurant){
  border-right: 1px solid #aaa;
}

.project:is(.airbnb, .members-only, .weather){
  border-bottom: 1px solid #aaa;

}

/* ---slider animation */

[data-status='moveLeft'],
[data-status='moveRight'],
[data-status='center']{
  transition: all 800ms ease-in-out;
}

/*  go to left after button click*/
[data-status='moveLeft']{
  transform: translateX(-110%) scale(0);
  opacity: 0;
}
/*  set position on the left to be shown*/
[data-status='comeFromLeft']{
  transform: translateX(-110%);
}

/*  go to right after button click*/
[data-status='moveRight']{
  transform: translateX(110%) scale(0);
  opacity: 0;
}

/* set position on the right to get shown */
[data-status='comeFromRight']{
  transform: translateX(110%);
}

/*  show tab and position it in the center */
[data-status='center']{
  transform : translate(0,0) scale(1);
  opacity: 1;
}
/* --------portfolio media queries ----------*/


@media (width < 1600px) {

  .project{
    flex-direction: column;
  }

  .project > img{
    order: 1;
  }

  .project > .detail{
    order: 2;
  }
}

@media (width < 1000px) {

  .portfolio{
    margin: 0px auto;
    width: 98%;
  }
  
  .portfolio button{
    display: none;
  }

  .portfolio-tab{
    grid-template-columns: 800px;
    aspect-ratio: auto;
    position: static;
    transform: scale(1);
  }

  .portfolio-tab:nth-of-type(3) .project,
  .portfolio-tab:nth-of-type(4) .project{
    padding: 10px;
  }

  .project{
    border: none;
    border-bottom: 1px solid #aaa;
    flex-direction: row;
    margin: 0 auto;
  }

  /* seperate for first protfolio tab as it has 3 projects */
  .portfolio-tab:nth-of-type(2) .project:nth-of-type(even) > img{
    order: 2;
  }

  .portfolio-tab:nth-of-type(2) .project:nth-of-type(even) > .detail{
    order: 1;
  }

  /* seperate for other protfolio tabs as it has 4 projects */
  .portfolio-tab:nth-of-type(3) .project:nth-of-type(odd) > img,
  .portfolio-tab:nth-of-type(4) .project:nth-of-type(odd) > img{
    order: 2;
  }

  .portfolio-tab:nth-of-type(3) .project:nth-of-type(odd) > .detail,
  .portfolio-tab:nth-of-type(4) .project:nth-of-type(odd) > .detail{

    order: 1;
  }

  .project:is(.odinbook, .members-only, .restaurant){
    border-right: none
  }

}

@media (width < 820px) {
  .project{
    width: clamp(300px, 95vw,500px);
    flex-direction: column;
    padding: 0;
    margin-bottom: 20px;
  }

  .portfolio-tab:nth-of-type(n) .project:nth-of-type(n) > img{
    order: 1;
  }

  .portfolio-tab:nth-of-type(n) .project:nth-of-type(n) > .detail{
    order: 2;
  }

  .project img,
  .project .detail{
    width: clamp(300px, 95vw,400px);
  }
}

/* contact */

.contact{
  width: clamp(300px, 90%, 1200px);
  margin: 30px 0;
  font-size: 1rem;
  text-align: center;
}

.contact > p{
  max-width: 400px;
  margin: 0 auto;
}

.contact .cta{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}

.contact .cta div{
  min-width: 260px;
  padding: 30px 5px;
  border-radius: 12px;
  border: 1px solid #aaa;
}

.contact .cta div i{
  font-size: 2rem;
}

.contact .cta div h3{
  text-transform: uppercase;
  margin: 20px 0;
}
.contact .cta div p{
  font-weight: 300;
}

@media (width < 920px) {

  .contact .cta{
    flex-direction: column;
  }
  
  .contact .cta div{
    padding: 0;
    border: none;
  }

  .contact .cta div h3{
    margin: 5px 0;
  }

}

@media (width < 500px) {
  .contact .cta div h3{
    display: none;
  }

  .contact .cta{
    gap: 10px;
  }

  .contact .cta div{
    display: grid;
    grid-template-columns: 35px 1fr;
    justify-items: start;
    gap: 10px;
    align-items: center;
  }
}
