*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.about{
  display: flex;
  max-width: 1200px;
  align-items: center;
  gap: 50px;
  font-size: 1.3rem;
  letter-spacing: .5px;
  line-height: 1.3;
  padding: 100px 12px;
}

@keyframes drop {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fromRight {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fromLeft {
  from {
    transform: translateX(-200px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

h2{
  text-transform: uppercase;
  margin: 20px 0;
}

.about img{
  width: 350px;
  animation: fromLeft 2s cubic-bezier( 0.19, 0.81, 0.44, 0.99 );
}

.about div{
  animation: fromRight 2s cubic-bezier( 0.19, 0.81, 0.44, 0.99 );
  padding: 0 20px;

}

.about button{
  width: 30px;
  margin-top: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  animation: fromRight 2s cubic-bezier( 0.19, 0.81, 0.44, 0.99 )  ;
}

.about button span{
 font-size: 2.5rem;
}

@media (width < 750px) {
  .about{
    background-color: #B2B2B2;
    position: relative;
    width: 100%;
    justify-content: center;
  }

  .about .img{
    width: auto;
    position: absolute;
  }

  .about div{
    text-align: center;
    position: absolute;
    color: white;
    font-weight: 500;
  }

  .about button {
    color: white;
  }
}


/* portfolio section */

.portfolio{
  /* background-color: #D6E4E5; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio .header{
  max-width: 650px;
  font-size: 1.3rem;
  margin-bottom: 100px;
}

.portfolio .header h2{
  text-align: center;
}

.portfolio .container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 263px 263px 174px 263px; */
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}

.portfolio .container .project{
  position: relative;
  
}

.portfolio .container .project .detail{
  background-color: #666;
  color: White;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
  transition: transform 1s;
  padding: 15px;
}

.portfolio .container .project .detail h2{
  text-transform: uppercase;
}

.portfolio .container .project .detail a{
  color: white;
  font-size: 1.5rem;
}

.portfolio .container .project .detail p{
  margin: 10px  0;
}

.portfolio .container .project .detail p.links{
  text-align: right;
  margin-right: 10px;
}

.portfolio .container .project img{
  backface-visibility: hidden;
  transition: transform 1s;
}

.portfolio .container .project:hover .detail{
  transform: rotateY(360deg);
}

.portfolio .container .project:hover img{
  transform: rotateY(180deg);
}

.portfolio .container .long{
  grid-column: 3/4;
  grid-row: 1/4;
}

.portfolio .container .wide{
  grid-column: 1/3;
  grid-row: 3/5;
}

@media (width < 1330px) {
  
}

/* contact */

.contact{
  min-width: 1200px;
  margin: 100px auto;
  font-size: 1.1rem;
  text-align: center;
}

.contact > p{
  width: 400px;
  margin: 0 auto;
}

.contact .cta{
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.contact .cta div{
  min-width: 260px;
  padding: 30px 5px;
  border-radius: 12px;
  border: 1px solid #aaa;
}

.contact .cta div i{
  font-size: 2rem;
}

.contact .cta div h3{
  text-transform: uppercase;
  margin: 20px 0;
}
.contact .cta div p{
  font-weight: 300;
}