*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

main{
  max-width: 1000px;
  margin: 0 12px;
}

.about{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  font-size: 1.3rem;
  letter-spacing: .5px;
  line-height: 1.5;
  margin: 100px 0;
}

@keyframes drop {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to{
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fromLeft {
  from {
    transform: translateX(200px);
    opacity: 0;
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

.about h2{
  text-transform: uppercase;
  margin: 15px 0;
}

.about img{
  width: 350px;
  animation: drop 800ms ease;
}

.about div{
  animation: fromLeft 800ms ease;
}

.skills{
  margin: 100px 0;
}

.skills h2{
  margin: 20px 0;
  text-transform: uppercase;
  font-size: 1.4rem;
}
.container{
  display: flex;
  gap: 20px;
}

.container > div{
  width: 250px;
  border: 1px solid #999;
  padding: 40px 20px 0;
  font-size: 1.2rem;
}

.container > div:nth-child(1){
  color: #CD5888;
 border-bottom: 4px solid #CD5888;
}

.container > div:nth-child(2){
  color: #ABC270;
  border-bottom: 4px solid #ABC270;
}

.container > div:nth-child(3){
  color: #F2921D;
  border-bottom: 4px solid #F2921D;
}

.container > div:nth-child(4){
  color: #1F8A70;
  border-bottom: 4px solid #1F8A70;
}

.skills img{
  width: 50px;
  margin-bottom: 10px;
}

.skills .hidden{
  transform: translateY(20px);
  opacity: 0;
  transition: all 200ms;
}

.skills .shown{
  transition: transform 200ms;
}

.skills .container > div:hover .hidden{
  transform: translateY(-10px);
  opacity: 1;
}

.skills .container div:hover .shown{
  transform: translateY(-20px);
  opacity: .5;
}